<a href="https://colab.research.google.com/github/saniashaikh5/100-days-coding-challenge/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello")

Hello

In [ ]:
fav_food = "Pizza"
print(fav_food)
print(fav_food)
print(fav_food)
print(fav_food)

Pizza
Pizza
Pizza
Pizza

In [ ]:
fav_celebrity = "Katrina Kaif"
print(fav_celebrity)
fav_num = 5,8
print(fav_num)

Katrina Kaif
(5, 8)

Data Types
string

In [ ]:
text_double: str = "Hello, Python!"
print(text_double)

Hello, Python!

f string

In [2]:
name = "Sania"
age = 17
print(f"My name is {name}, and I'm {age} years old")

My name is Sania, and I'm 17 years old

Doc string

In [22]:
print(""" Hi! I'm Sania
I'm a coder
I'm 17 years old """)
print("")

name = "Sania"
age = 17
print(f""" Hi! I'm {name}
I'm a coder
I'm {age} years old """)

print(" ")

first_name = "Hania"
print(
f"""Hi {first_name},
you got a free coupon code: HAPPY2025

Best Regards,
Sania
 """
)

 Hi! I'm Sania
I'm a coder
I'm 17 years old

 Hi! I'm Sania
I'm a coder
I'm 17 years old

Hi Hania,
you got a free coupon code: HAPPY2025

Best Regards,
Sania

Boolean

In [ ]:
is_python_fun: bool = True
print(is_python_fun)

True

List

In [ ]:
my_list_1: int = [1,2,3, "java", 3.14, True]
my_list: int = [1,2,3, "python", 3+2j]
print(my_list_1)
print(my_list)

[1, 2, 3, 'java', 3.14, True]
[1, 2, 3, 'python', (3+2j)]

Tuple

In [ ]:
my_tuple: tuple = (1,2,3, "AI", 2.17, False, .3, 3+2j)
print(my_tuple)

(1, 2, 3, 'AI', 2.17, False, 0.3, (3+2j))

Range

In [ ]:
num_range: range = ( 1 , 10, 2,)
print(num_range)

(1, 10, 2, True)

Numeric Types

a. Integer

In [ ]:
num_int: int = 42
print(num_int)

42.5

b. Floating-Point

In [ ]:
num_float: float = 3.14
print(num_float)

3.14

c. Complex

In [ ]:
num_complex: complex = 2 + 3j
print(num_complex)

(2+3j)

Set Types

a. Set

In [ ]:
my_set: set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

b. Frozen Set

In [ ]:
frozen_set = frozenset([1,2,3])
print(frozen_set)

frozenset({1, 2, 3})

5. Mapping Type

In [ ]:
my_dict: dict = {"name": "Alice", "age": 25, "language": "python"}
print(my_dict)

{'name': 'Alice', 'age': 25, 'language': 'python'}

Comparison Operators

In [28]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [29]:
my_age = 17

print(my_age > 18)

False

If ,Else , Elif

In [38]:
my_age = 18

if my_age >= 18:
  print("You are Allowed")
else:
  print("You are not Allowed")

You are Allowed

In [42]:
#Input example
name = input("What is your name?")
print("Hi " + name + "!")

What is your name?sania
Hi sania!

coditional statements

In [56]:
# conditional statements if else elif
age = int(input("Enter your age:"))
if age < 18:
  print("You are a minor.")
elif age == 18:
  print("you are a young person!")
elif age == 65:
  print("You are a senior citizen.")
elif age >= 80:
  print("You are a very old person")
else:
  print("You are an adult.")

Enter your age:65
You are a senior citizen.